.form-label {
  font-size: 15px;
  color: #333;
}

.card {
  border-radius: 20px;
}

input,
textarea {
  border-radius: 10px !important;
}

.btn-primary {
  background: #2f67ff !important;
  border: none !important;
  border-radius: 12px;
}

.btn-primary:hover {
  background: #1d4fe0 !important;
}

.img-thumbnail {
  border-radius: 14px !important;
}
